In [1]:
import pandas as pd

In [2]:
NB_DATA=pd.read_excel(r"C:\Users\Ratan Kumar Jha\Desktop\New folder\NB Device.xlsx")

In [3]:
NB_DATA.head(1)

,DeviceId,EntryDatetime,InstallationDatetime,Utility,Ip,LastS05,LastEvent,LastCommand,FWVersion,LastS04,LastS02,StateName
0,LNTLT8069351,10/24/2023 10:04:41 PM,1/3/2024 10:49:59 PM,NBPDCL,2405:0203:0535:37E5:0000:0000:0000:0010,3/16/2024 12:00:00 AM,NaN,1/10/2024 10:58:07 PM,3PBNC.82 01,3/1/2024 12:00:00 AM,NaN,Imported&&Installed

In [4]:
SB_DATA=pd.read_excel(r"C:\Users\Ratan Kumar Jha\Desktop\New folder\SB list.xlsx")

In [5]:
NB_DATA.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\New folder\output_csv_file\NB_DATA.csv")
SB_DATA.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\New folder\output_csv_file\SB_DATA.csv")

In [6]:
NB_DATA.head(1)

,DeviceId,EntryDatetime,InstallationDatetime,Utility,Ip,LastS05,LastEvent,LastCommand,FWVersion,LastS04,LastS02,StateName
0,LNTLT8069351,10/24/2023 10:04:41 PM,1/3/2024 10:49:59 PM,NBPDCL,2405:0203:0535:37E5:0000:0000:0000:0010,3/16/2024 12:00:00 AM,NaN,1/10/2024 10:58:07 PM,3PBNC.82 01,3/1/2024 12:00:00 AM,NaN,Imported&&Installed

In [7]:
SB_DATA.head(1)

,DeviceId,EntryDatetime,InstallationDatetime,Utility,Ip,LastS05,LastEvent,LastCommand,FWVersion,LastS04,LastS02,StateName
0,SESEI4875768,7/7/2020 7:37:21 PM,NaN,SBPDCL,NaN,NaN,NaN,9/3/2020 1:20:12 AM,G36B7.145070,NaN,NaN,Imported&&Dismantled