In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
ASSEST_SB =  pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\ASSET_INITIATION_INVENTORY_SB.csv")
ASSEST_NB = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\ASSET_INITIATION_INVENTORY_NB.csv")
INFRA_SB = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\Infrastructure_Devices_SB.csv",sep=';')
INFRA_NB = pd.read_csv( r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\Infrastructure_Devices_NB.csv",sep=';')
METER_STATUS_NB = pd.read_csv( r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\METER_STATUS_NB.csv")
METER_STATUS_SB = pd.read_csv( r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\METER_STATUS_SB.csv")

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_41736\1152683313.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  ASSEST_SB =  pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\ASSET_INITIATION_INVENTORY_SB.csv")

In [3]:
ASSEST_NB = ASSEST_NB.astype(str)
ASSEST_NB.columns = ASSEST_NB.columns.str.upper()
ASSEST_NB = ASSEST_NB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
ASSEST_NB.columns = ASSEST_NB.columns.str.strip()



ASSEST_SB = ASSEST_SB.astype(str)
ASSEST_SB.columns = ASSEST_SB.columns.str.upper()
ASSEST_SB = ASSEST_SB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
ASSEST_SB.columns = ASSEST_SB.columns.str.strip()
#-------------------------------------------------------------------------------------------

INFRA_SB = INFRA_SB.astype(str)
INFRA_SB.columns = INFRA_SB.columns.str.upper()
INFRA_SB = INFRA_SB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
INFRA_SB.columns = INFRA_SB.columns.str.strip()


INFRA_NB = INFRA_NB.astype(str)
INFRA_NB.columns = INFRA_NB.columns.str.upper()
INFRA_NB = INFRA_NB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
INFRA_NB.columns = INFRA_NB.columns.str.strip()


#-------------------------------------------------------------------------------------------

METER_STATUS_NB = METER_STATUS_NB.astype(str)
METER_STATUS_NB.columns = METER_STATUS_NB.columns.str.upper()
METER_STATUS_NB = METER_STATUS_NB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
METER_STATUS_NB.columns = METER_STATUS_NB.columns.str.strip()


METER_STATUS_SB = METER_STATUS_SB.astype(str)
METER_STATUS_SB.columns = METER_STATUS_SB.columns.str.upper()
METER_STATUS_SB = METER_STATUS_SB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
METER_STATUS_SB.columns = METER_STATUS_SB.columns.str.strip()

In [5]:
ASSEST_SB.head(1)

,METERNUMBER,MFG_SERIAL_NUM,UDC_ID,NETWORK_ID,INSTALLATIONNUMBER,STATUS,INSERT_TIME,"DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')"
0,GOEGP4970294,GP4970294,404759210464358,2001:4490:0800:5F25:0000:0000:0000:0001,nan,Meter Shop,8/7/2019 1:26:44 PM,SBPDCL

In [6]:
ASSEST_NB.head(1)

,METERNUMBER,MFG_SERIAL_NUM,UDC_ID,NETWORK_ID,INSTALLATIONNUMBER,STATUS,INSERT_TIME,"DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')"
0,GOEGP4881969,GP4881969,404751250450510,2001:4490:0800:A41A:0000:0000:0000:0001,DALGND-816,Installed,9/9/2019 1:01:27 AM,NBPDCL

In [7]:
INFRA_SB.head(1)

,INSTALLATIONDATETIME,ENTRYDATETIME,UTILITY,UTILITYSITEID,UTILITYDEVICEID,SERIALNUMBER,LASTS05,LASTS02,LASTS04,COORDINATEX,COORDINATEY,STATENAME,IP,UNNAMED: 13
0,8/18/2023 6:11:30 PM,7/31/2023 4:25:14 PM,SBPDCL,5002259607,LNTLT8072561,LT8072561,2/25/2024 12:00:00 AM,10/2/2023 12:00:00 AM,2/1/2024 12:00:00 AM,85.12033,25.6107,Imported&&Installed,2405:0203:0535:126E:0000:0000:0000:0010,nan

In [8]:
INFRA_NB.head(1)

,INSTALLATIONDATETIME,ENTRYDATETIME,UTILITY,UTILITYSITEID,UTILITYDEVICEID,SERIALNUMBER,LASTS05,LASTS02,LASTS04,COORDINATEX,COORDINATEY,STATENAME,IP,UNNAMED: 13
0,1/3/2024 10:49:59 PM,10/24/2023 10:04:41 PM,NBPDCL,5001461671,LNTLT8069351,LT8069351,2/25/2024 12:00:00 AM,nan,2/1/2024 12:00:00 AM,85.12826,25.58438,Imported&&Installed,2405:0203:0535:37E5:0000:0000:0000:0010,nan

In [9]:
METER_STATUS_NB.head(1)

,UTILITY,STATUS_CD,CONNECTED_STATUS,COMMISSIONING,COMMUNICATING,INSERT_TIME,INSTALLATIONNO,METERNO,CONSUMERNO
0,NBPDCL,Installed,Y,Y,Y,10-08-2019 22:06,RAMD-2987900004,GOEGP4967851,118101000000.0

In [10]:
METER_STATUS_SB.head(1)

,UTILITY,STATUS_CD,CONNECTED_STATUS,COMMISSIONING,COMMUNICATING,INSERT_TIME,INSTALLATIONNO,METERNO,CONSUMERNO
0,SBPDCL,Installed,Y,Y,Y,25-05-2022 21:13,ARWARL6055,LNTLT0581598,23230011191.0

In [ ]:
ASSET_CONCAT_SB_NB = pd.concat([ASSEST_SB, ASSEST_NB], ignore_index=True)
INFRA_CONCAT_SB_NB =  pd.concat([INFRA_SB,INFRA_NB],ignore_index=True)
METER_STATUS_SB_NB =  pd.concat([METER_STATUS_SB,METER_STATUS_NB],ignore_index=True)

In [ ]:
# TAKE ONLY Imported&&Installed  METER

INFRA_CONCAT_SB_NB = INFRA_CONCAT_SB_NB[INFRA_CONCAT_SB_NB['StateName']== 'Imported&&Installed']

In [ ]:
print(f"INFRA_CONCAT_SB_NB :- {INFRA_CONCAT_SB_NB.shape}")
print(f"ASSET_CONCAT_SB_NB :- {ASSET_CONCAT_SB_NB.shape}")
print(f"METER_STATUS_SB_NB :- {METER_STATUS_SB_NB.shape}")

INFRA_CONCAT_SB_NB :- (1514165, 14)
ASSET_CONCAT_SB_NB :- (1872189, 8)
METER_STATUS_SB_NB :- (1553925, 9)

In [ ]:
ASSET_CONCAT_SB_NB = ASSET_CONCAT_SB_NB.astype(str)
ASSET_CONCAT_SB_NB.columns = ASSET_CONCAT_SB_NB.columns.str.upper()
ASSET_CONCAT_SB_NB = ASSET_CONCAT_SB_NB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
ASSET_CONCAT_SB_NB.columns = ASSET_CONCAT_SB_NB.columns.str.strip()





INFRA_CONCAT_SB_NB = INFRA_CONCAT_SB_NB.astype(str)
INFRA_CONCAT_SB_NB.columns = INFRA_CONCAT_SB_NB.columns.str.upper()
INFRA_CONCAT_SB_NB = INFRA_CONCAT_SB_NB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
INFRA_CONCAT_SB_NB.columns = INFRA_CONCAT_SB_NB.columns.str.strip()




METER_STATUS_SB_NB = METER_STATUS_SB_NB.astype(str)
METER_STATUS_SB_NB.columns = METER_STATUS_SB_NB.columns.str.upper()
METER_STATUS_SB_NB = METER_STATUS_SB_NB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
METER_STATUS_SB_NB.columns = METER_STATUS_SB_NB.columns.str.strip()

In [ ]:
# droppping the unnamed column

INFRA_CONCAT_SB_NB.drop(['UNNAMED: 13'], axis=1, inplace=True)

In [ ]:
ASSET_CONCAT_SB_NB.head(1)

,METERNUMBER,MFG_SERIAL_NUM,UDC_ID,NETWORK_ID,INSTALLATIONNUMBER,STATUS,INSERT_TIME,"DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')"
0,GOEGP4970294,GP4970294,404759210464358,2001:4490:0800:5F25:0000:0000:0000:0001,nan,Meter Shop,8/7/2019 1:26:44 PM,SBPDCL

In [ ]:
INFRA_CONCAT_SB_NB.head(1)

,INSTALLATIONDATETIME,ENTRYDATETIME,UTILITY,UTILITYSITEID,UTILITYDEVICEID,SERIALNUMBER,LASTS05,LASTS02,LASTS04,COORDINATEX,COORDINATEY,STATENAME,IP
0,8/18/2023 6:11:30 PM,7/31/2023 4:25:14 PM,SBPDCL,5002259607,LNTLT8072561,LT8072561,2/25/2024 12:00:00 AM,10/2/2023 12:00:00 AM,2/1/2024 12:00:00 AM,85.12033,25.6107,Imported&&Installed,2405:0203:0535:126E:0000:0000:0000:0010

In [ ]:
METER_STATUS_SB_NB.head(1)

,UTILITY,STATUS_CD,CONNECTED_STATUS,COMMISSIONING,COMMUNICATING,INSERT_TIME,INSTALLATIONNO,METERNO,CONSUMERNO
0,SBPDCL,Installed,Y,Y,Y,25-05-2022 21:13,ARWARL6055,LNTLT0581598,23230011191.0

,UTILITY,STATUS_CD,CONNECTED_STATUS,COMMISSIONING,COMMUNICATING,INSERT_TIME,INSTALLATIONNO,METERNO,CONSUMERNO
0,SBPDCL,Installed,Y,Y,Y,25-05-2022 21:13,ARWARL6055,LNTLT0581598,23230011191.0
1,SBPDCL,Installed,N,Y,Y,06-09-2019 22:31,ARWARL6337,GOEGP4970510,23230012217.0

# extra

In [ ]:
#check_Data_meter_Status = METER_STATUS_SB_NB[METER_STATUS_SB_NB.duplicated(subset=['METERNO'],keep=False)].sort_values(by = ['METERNO','CONNECTED_STATUS'],ascending=[True,False])

#check_Data_meter_Status['Duplicated'] = check_Data_meter_Status.duplicated(subset=['METERNO']).map({True: 'Duplicated', False: 'Unique'})

# check_Data_meter_Status.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\check_Data_meter_Status.csv")

In [ ]:
#INFRA_CONCAT_SB_NB[INFRA_CONCAT_SB_NB.duplicated(subset=['UTILITYDEVICEID'],keep=False)]

# create a new column with duplicated

In [ ]:
INFRA_CONCAT_SB_NB['Duplicated_infra'] = INFRA_CONCAT_SB_NB.duplicated(subset=['UTILITYDEVICEID']).map({True: 'Duplicated', False: 'Unique'})
METER_STATUS_SB_NB['Duplicated_meter'] = METER_STATUS_SB_NB.duplicated(subset=['METERNO']).map({True: 'Duplicated', False: 'Unique'})
ASSET_CONCAT_SB_NB['Duplicated_asset'] = ASSET_CONCAT_SB_NB.duplicated(subset=['METERNUMBER']).map({True: 'Duplicated', False: 'Unique'})

In [ ]:
METER_STATUS_SB_NB.sort_values(by='INSERT_TIME',ascending=False,inplace=True)

In [ ]:
METER_STATUS_SB_NB.head(1)

,UTILITY,STATUS_CD,CONNECTED_STATUS,COMMISSIONING,COMMUNICATING,INSERT_TIME,INSTALLATIONNO,METERNO,CONSUMERNO,Duplicated_meter
830749,SBPDCL,Installed,Y,nan,Y,31-12-2023 20:09,5004099635,GOEGP5077325,108736274.0,Unique

In [ ]:
METER_STATUS_SB_NB[METER_STATUS_SB_NB.duplicated(subset=['CONSUMERNO'],keep=False)].sort_values(by = ['INSERT_TIME'],ascending=[False])

,UTILITY,STATUS_CD,CONNECTED_STATUS,COMMISSIONING,COMMUNICATING,INSERT_TIME,INSTALLATIONNO,METERNO,CONSUMERNO,Duplicated_meter
1552141,NBPDCL,Installed,Y,Y,Y,31-12-2023 18:06,5.22012E+11,LNTLT1013042,133210000000.0,Unique
1535315,NBPDCL,Installed,Y,nan,Y,31-12-2023 15:06,BAL/CBL-5168,GOEGP5053006,117305000000.0,Unique
619618,SBPDCL,Installed,Y,Y,Y,31-12-2022 21:05,52358300870,LNTLT0917133,242308000000.0,Unique
619620,SBPDCL,Installed,Y,Y,Y,31-12-2022 21:05,52359976155,LNTLT0918019,242308000000.0,Unique
619619,SBPDCL,Installed,Y,Y,Y,31-12-2022 21:05,52358498924,LNTLT0917131,242308000000.0,Unique
...,...,...,...,...,...,...,...,...,...,...
34030,SBPDCL,Installed,Y,Y,Y,01-01-2021 12:05,2.26416E+11,GOEGP4960851,226405000000.0,Unique
43780,SBPDCL,Installed,Y,Y,Y,01-01-2021 12:05,52342106561,GOEGP7445511,224305000000.0,Unique
880381,NBPDCL,Installed,Y,Y,Y,01-01-2020 16:28,DALMNB-315,GOEGP4958346,115102000000.0,Unique
879705,NBPDCL,Installed,Y,Y,Y,01-01-2020 16:28,DALBPC-2623,GOEGP4971871,115103000000.0,Unique
879704,NBPDCL,Installed,Y,Y,Y,01-01-2020 16:28,DALTNR-113,GOEGP4883601,115103000000.0,Unique

In [ ]:
#INFRA_CONCAT_SB_NB.drop(['Duplicated'], axis=1, inplace=True)
#METER_STATUS_SB_NB.drop(['Duplicated'], axis=1, inplace=True)
#ASSET_CONCAT_SB_NB.drop(['Duplicated'], axis=1, inplace=True)

# Merging meter status and asset file

In [ ]:
#  merge status and asset file

merge_status_asset_nb_sb = pd.merge(METER_STATUS_SB_NB, ASSET_CONCAT_SB_NB, left_on=['METERNO'], right_on=['METERNUMBER'], how='left')

In [ ]:
merge_status_asset_nb_sb.head(1)

,UTILITY,STATUS_CD,CONNECTED_STATUS,COMMISSIONING,COMMUNICATING,INSERT_TIME_x,INSTALLATIONNO,METERNO,CONSUMERNO,Duplicated_meter,METERNUMBER,MFG_SERIAL_NUM,UDC_ID,NETWORK_ID,INSTALLATIONNUMBER,STATUS,INSERT_TIME_y,"DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')",Duplicated_asset
0,SBPDCL,Installed,Y,Y,Y,25-05-2022 21:13,ARWARL6055,LNTLT0581598,23230011191.0,Unique,LNTLT0581598,LT0581598,405856706911450,2405:0203:0529:AE18:0000:0000:0000:0010,ARWARL6055,Installed,4/30/2022 1:04:03 PM,SBPDCL,Unique

In [ ]:
merge_status_asset_nb_sb[merge_status_asset_nb_sb['METERNUMBER'].isnull()].shape

(0, 19)

In [ ]:
merge_status_asset_nb_sb = merge_status_asset_nb_sb[['METERNUMBER','MFG_SERIAL_NUM','UDC_ID','NETWORK_ID','INSTALLATIONNUMBER','STATUS',"DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')",'Duplicated_asset']]

In [ ]:
# merge infra and asset_status file

merge_asset_infra_nb_sb =pd.merge(INFRA_CONCAT_SB_NB,merge_status_asset_nb_sb, left_on=['UTILITYDEVICEID'], right_on=['METERNUMBER'], how='left')

In [ ]:
merge_asset_infra_nb_sb.head(1)

,INSTALLATIONDATETIME,ENTRYDATETIME,UTILITY,UTILITYSITEID,UTILITYDEVICEID,SERIALNUMBER,LASTS05,LASTS02,LASTS04,COORDINATEX,COORDINATEY,STATENAME,IP,Duplicated_infra,METERNUMBER,MFG_SERIAL_NUM,UDC_ID,NETWORK_ID,INSTALLATIONNUMBER,STATUS,"DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')",Duplicated_asset
0,8/18/2023 6:11:30 PM,7/31/2023 4:25:14 PM,SBPDCL,5002259607,LNTLT8072561,LT8072561,2/25/2024 12:00:00 AM,10/2/2023 12:00:00 AM,2/1/2024 12:00:00 AM,85.12033,25.6107,Imported&&Installed,2405:0203:0535:126E:0000:0000:0000:0010,Unique,LNTLT8072561,LT8072561,405856707246263,2405:0203:0535:126E:0000:0000:0000:0010,5002259607,Installed,SBPDCL,Unique

In [ ]:
merge_asset_infra_nb_sb.drop[['COORDINATEX','COORDINATEY','SERIALNUMBER','LASTS05','LASTS02','LASTS04']]

In [ ]:
merge_asset_infra_nb_sb.rename(
    columns = {"METERNUMBER":"MDM_METERNUMBER","MFG_SERIAL_NUM": "MDM_MFG_SERIAL_NUM",
    "UDC_ID":"MDM_UDC_ID","NETWORK_ID":"MDM_NETWORK_ID",
    "INSTALLATIONNUMBER":"MDM_INSTALLATIONNUMBER","STATUS":"MDM_STATUS","INSERT_TIME":"MDM_INSERT_TIME","DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')":"MDM_DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')"},
    inplace=True
)

In [ ]:
merge_asset_infra_nb_sb.head(3)

,MDM_METERNUMBER,MDM_MFG_SERIAL_NUM,MDM_UDC_ID,MDM_NETWORK_ID,MDM_INSTALLATIONNUMBER,MDM_STATUS,MDM_INSERT_TIME,"MDM_DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')",INSTALLATIONDATETIME,ENTRYDATETIME,UTILITY,UTILITYSITEID,UTILITYDEVICEID,SERIALNUMBER,LASTS05,LASTS02,LASTS04,COORDINATEX,COORDINATEY,STATENAME,IP,UNNAMED: 13
0,GOEGP4970294,GP4970294,404759210464358,2001:4490:0800:5F25:0000:0000:0000:0001,nan,Meter Shop,8/7/2019 1:26:44 PM,SBPDCL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GOEGP4962320,GP4962320,404751250451741,2001:4490:0800:A6F5:0000:0000:0000:1,ARWARL9082,Installed,9/2/2019 1:08:20 AM,SBPDCL,9/4/2019 10:33:55 PM,8/16/2019 4:10:02 PM,SBPDCL,ARWARL9082,GOEGP4962320,GP4962320,2/22/2024 12:00:00 AM,10/2/2023 12:00:00 AM,2/1/2024 12:00:00 AM,84.66899,25.25095,Imported&&Installed,2001:4490:0800:A6F5:0000:0000:0000:0001,nan
2,GOEGP4964119,GP4964119,404751250456722,2001:4490:0800:B5B4:0000:0000:0000:0001,5001507481,Installed,9/9/2019 1:02:10 AM,SBPDCL,3/6/2020 4:09:01 PM,9/7/2019 2:10:08 AM,SBPDCL,5001507481,GOEGP4964119,GP4964119,2/22/2024 12:00:00 AM,10/2/2023 12:00:00 AM,2/1/2024 12:00:00 AM,85.14491,25.60932,Installed&&Imported,2001:4490:0800:B5B4:0000:0000:0000:0001,nan

In [ ]:
merge_asset_infra_nb_sb.drop(['MDM_MFG_SERIAL_NUM','SERIALNUMBER','LASTS05','LASTS02','LASTS04','COORDINATEX','COORDINATEY','UNNAMED: 13'], axis=1, inplace=True)

In [ ]:
merge_asset_infra_nb_sb.head()

,MDM_METERNUMBER,MDM_UDC_ID,MDM_NETWORK_ID,MDM_INSTALLATIONNUMBER,MDM_STATUS,MDM_INSERT_TIME,MDM_UTILITY,INSTALLATIONDATETIME,ENTRYDATETIME,UTILITY,UTILITYSITEID,UTILITYDEVICEID,STATENAME,IP
0,GOEGP4970294,404759210464358,2001:4490:0800:5F25:0000:0000:0000:0001,nan,Meter Shop,8/7/2019 1:26:44 PM,SBPDCL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GOEGP4962320,404751250451741,2001:4490:0800:A6F5:0000:0000:0000:1,ARWARL9082,Installed,9/2/2019 1:08:20 AM,SBPDCL,9/4/2019 10:33:55 PM,8/16/2019 4:10:02 PM,SBPDCL,ARWARL9082,GOEGP4962320,Imported&&Installed,2001:4490:0800:A6F5:0000:0000:0000:0001
2,GOEGP4964119,404751250456722,2001:4490:0800:B5B4:0000:0000:0000:0001,5001507481,Installed,9/9/2019 1:02:10 AM,SBPDCL,3/6/2020 4:09:01 PM,9/7/2019 2:10:08 AM,SBPDCL,5001507481,GOEGP4964119,Installed&&Imported,2001:4490:0800:B5B4:0000:0000:0000:0001
3,GOEGP4964992,404751250456883,2001:4490:0800:B655:0000:0000:0000:0001,ARWARL8832,Installed,9/9/2019 1:02:10 AM,SBPDCL,9/13/2019 10:44:38 PM,9/7/2019 7:58:58 PM,SBPDCL,ARWARL8832,GOEGP4964992,Imported&&Installed,2001:4490:0800:B655:0000:0000:0000:0001
4,GOEGP4964995,404751250456886,2001:4490:0800:B658:0000:0000:0000:0001,ARWARL17057,Installed,9/9/2019 1:02:10 AM,SBPDCL,9/13/2019 10:49:21 PM,9/7/2019 7:58:54 PM,SBPDCL,ARWARL17057,GOEGP4964995,Imported&&Installed,2001:4490:0800:B658:0000:0000:0000:0001

In [ ]:
merge_asset_infra_nb_sb.rename(
    columns = {"MDM_DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')":"MDM_UTILITY"},
    inplace=True
)

In [ ]:
merge_asset_infra_nb_sb.rename(columns={"INSTALLATIONDATETIME":"HES_INSTALLATIONDATETIME","ENTRYDATETIME":"HES_ENTRYDATETIME",
"UTILITY":"HES_UTILITY","UTILITYSITEID":"HES_UTILITYSITEID","UTILITYDEVICEID":"HES_UTILITYDEVICEID","STATENAME":"HES_STATENAME","IP":"HES_IP"},inplace=True)

In [ ]:
MERGE_MDM_HES_SB = merge_asset_infra_nb_sb[merge_asset_infra_nb_sb['MDM_UTILITY']=='SBPDCL']

In [ ]:
MERGE_MDM_HES_NB = merge_asset_infra_nb_sb[merge_asset_infra_nb_sb['MDM_UTILITY']=='NBPDCL']

In [ ]:
MERGE_MDM_HES_SB.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\MERGE_MDM_HES_SB.csv",index=False)
MERGE_MDM_HES_NB.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\MERGE_MDM_HES_NB.csv",index=False)

# HES AND MDM COMPARISON

In [ ]:
MERGE_MDM_HES_SB.head()

,MDM_METERNUMBER,MDM_UDC_ID,MDM_NETWORK_ID,MDM_INSTALLATIONNUMBER,MDM_STATUS,MDM_INSERT_TIME,MDM_UTILITY,HES_INSTALLATIONDATETIME,HES_ENTRYDATETIME,HES_UTILITY,HES_UTILITYSITEID,HES_UTILITYDEVICEID,HES_STATENAME,HES_IP
0,GOEGP4970294,404759210464358,2001:4490:0800:5F25:0000:0000:0000:0001,nan,Meter Shop,8/7/2019 1:26:44 PM,SBPDCL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GOEGP4962320,404751250451741,2001:4490:0800:A6F5:0000:0000:0000:1,ARWARL9082,Installed,9/2/2019 1:08:20 AM,SBPDCL,9/4/2019 10:33:55 PM,8/16/2019 4:10:02 PM,SBPDCL,ARWARL9082,GOEGP4962320,Imported&&Installed,2001:4490:0800:A6F5:0000:0000:0000:0001
2,GOEGP4964119,404751250456722,2001:4490:0800:B5B4:0000:0000:0000:0001,5001507481,Installed,9/9/2019 1:02:10 AM,SBPDCL,3/6/2020 4:09:01 PM,9/7/2019 2:10:08 AM,SBPDCL,5001507481,GOEGP4964119,Installed&&Imported,2001:4490:0800:B5B4:0000:0000:0000:0001
3,GOEGP4964992,404751250456883,2001:4490:0800:B655:0000:0000:0000:0001,ARWARL8832,Installed,9/9/2019 1:02:10 AM,SBPDCL,9/13/2019 10:44:38 PM,9/7/2019 7:58:58 PM,SBPDCL,ARWARL8832,GOEGP4964992,Imported&&Installed,2001:4490:0800:B655:0000:0000:0000:0001
4,GOEGP4964995,404751250456886,2001:4490:0800:B658:0000:0000:0000:0001,ARWARL17057,Installed,9/9/2019 1:02:10 AM,SBPDCL,9/13/2019 10:49:21 PM,9/7/2019 7:58:54 PM,SBPDCL,ARWARL17057,GOEGP4964995,Imported&&Installed,2001:4490:0800:B658:0000:0000:0000:0001

### 1.  MDM UTILITY == SBPDCL   and  HES UTILITY == NBPDCL

In [ ]:
SB_DATA_CHECK_UTILITY_MDM_SB_HES_NB=MERGE_MDM_HES_SB[(MERGE_MDM_HES_SB['MDM_UTILITY']=='SBPDCL') & (MERGE_MDM_HES_SB['HES_UTILITY'] =='NBPDCL') ]

In [ ]:
SB_DATA_CHECK_UTILITY_MDM_SB_HES_NB.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\SB_DATA_CHECK_UTILITY_MDM_SB_HES_NB.csv",index=False)

In [ ]:
MERGE_MDM_HES_SB.head(2)

,MDM_METERNUMBER,MDM_UDC_ID,MDM_NETWORK_ID,MDM_INSTALLATIONNUMBER,MDM_STATUS,MDM_INSERT_TIME,MDM_UTILITY,HES_INSTALLATIONDATETIME,HES_ENTRYDATETIME,HES_UTILITY,HES_UTILITYSITEID,HES_UTILITYDEVICEID,HES_STATENAME,HES_IP
0,GOEGP4970294,404759210464358,2001:4490:0800:5F25:0000:0000:0000:0001,nan,Meter Shop,8/7/2019 1:26:44 PM,SBPDCL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GOEGP4962320,404751250451741,2001:4490:0800:A6F5:0000:0000:0000:1,ARWARL9082,Installed,9/2/2019 1:08:20 AM,SBPDCL,9/4/2019 10:33:55 PM,8/16/2019 4:10:02 PM,SBPDCL,ARWARL9082,GOEGP4962320,Imported&&Installed,2001:4490:0800:A6F5:0000:0000:0000:0001

### 2. IP DIFF IN MDM AND HES

In [ ]:
SB_DATA_CHECK_IP_MDM_AND_HES = MERGE_MDM_HES_SB[(MERGE_MDM_HES_SB['MDM_NETWORK_ID']!=MERGE_MDM_HES_SB['HES_IP']) & (MERGE_MDM_HES_SB['HES_IP'].notnull())]

In [ ]:
SB_DATA_CHECK_IP_MDM_AND_HES.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\SB_DATA_CHECK_IP_MDM_AND_HES.csv",index=False)

(38008, 14)

In [ ]:
### 3. INSTALLATION NO. DIFF IN MDM AND HES

In [ ]:
SB_DATA_CHECK_INSTALLATION_MDM_AND_HES = MERGE_MDM_HES_SB[(MERGE_MDM_HES_SB['MDM_INSTALLATIONNUMBER'] != MERGE_MDM_HES_SB['HES_UTILITYSITEID']) & (MERGE_MDM_HES_SB['HES_UTILITYSITEID'].notnull())]

In [ ]:
SB_DATA_CHECK_INSTALLATION_MDM_AND_HES.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\SB_DATA_CHECK_INSTALLATION_MDM_AND_HES.csv",index=False)

,MDM_METERNUMBER,MDM_UDC_ID,MDM_NETWORK_ID,MDM_INSTALLATIONNUMBER,MDM_STATUS,MDM_INSERT_TIME,MDM_UTILITY,HES_INSTALLATIONDATETIME,HES_ENTRYDATETIME,HES_UTILITY,HES_UTILITYSITEID,HES_UTILITYDEVICEID,HES_STATENAME,HES_IP
0,GOEGP4970294,404759210464358,2001:4490:0800:5F25:0000:0000:0000:0001,nan,Meter Shop,8/7/2019 1:26:44 PM,SBPDCL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,None,None,None,None,None,None,None,None,None,None,None,None,None,None